@tailwind components;
@tailwind utilities;

.watchdog-dither-chart {
  width: 100%;
  height: 100%;
}

.chart-wrap > div {
  width: 100%;
  height: 100%;
}

.watchdog-dither-chart .stroke-border {
  stroke: #e8ecf3;
}

.watchdog-dither-chart canvas {
  image-rendering: pixelated;
}
